div{width: 200px;
height: 200px;
position: relative;
}
body{margin: 0;
padding: 0}
.a{background-color: #ee3e64;}
.b{background-color: #44accf;left: 200px}
.c{background-color: #b7d84b}
a{list-style: none;
color:black;}